/*Задала ширину и высоту параграфу с
классом "one", окрасила его в
красный цвет*/
.one {
	height: 35px;
	width: 40px;
	background: #ff0000;
}

/*Задала ширину и высоту параграфу с
классом "two", окрасила его в
оранжевый цвет*/
.two {
	height: 35px;
	width: 80px;
	background: #ffa300;
}

/*Задала ширину и высоту параграфу с
классом "three", окрасила его в
синий цвет*/
.three {
	height: 35px;
	width: 120px;
	background: #4600ff;
}